<html>
    <link>
        <title>Dropbox | Home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
    </head>
    <body>
        <div id="home-container"></div>
        <script src="/scripts/mainpage.bundle.js"></script>
    </body>
</html>